<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Sebastian's Photos</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link id="home_img" rel="shortcut icon" type="image/png" href="{% static 'PFP No BG.png' %}">
    </head>

    <body style="background-color:#000dff; font-weight: bold;">

        <header>
            <nav>
            <a href="/" id="name_container">
                <img id="site_logo" src="{% static 'PFP No BG.png' %}" width="48px" height="48px" alt="website logo">
                <h1 id="site_name">MisterE</h1>
            </a>
            <div id="links_container">
                <a href="/">About</a>
                <a href="/projects/">Projects</a>
                <a href="/homework/">Homework Tracker</a>
            </div>
            </nav>
        </header>


        <div><h1 style="color: white;">Photos from The New York International Auto Show</h1></div>

	    	{% for photos in photo_list %}


            		<div id="photoDiv">

                		<div id="photo-pic">

                	    	<h2 id="photoInfoText">
					{{ photos.description }}
                	   	</h2>

			   	<br>
			   	<br>

			    	<figure class="before">
					<img id="pic_img" src="{% get_static_prefix %}CarPhotos/{{ photos.name }}.jpg" alt="Photo of Car">
					<figcaption>Un-Edited</figcaption>
		    		</figure>
		    		<figure class="after">
					<img id="pic_img" src="{% get_static_prefix %}CarPhotos/{{ photos.name }}_Edited.jpg" alt="Edited Car Photo">
					<figcaption>Edited</figcaption>
		    		</figure>

                		</div>

				<h3>
					{{ photos.credit }}
				</h3>

            		</div>
			<br>
			<br>
			<br>
		{% endfor %}
        </div>

	<p xmlns:cc="http://creativecommons.org/ns#" ><a rel="cc:attributionURL" href="https://sebastianshomework.com/photography/">This work</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://sebastianshomework.com/">Sebastian Waldman</a> is licensed under <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"></a></p>

    </body>	

</html>
