<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="https://sebastianw.tech/static/SaraElly/mw-styles.css">
        <style>
            * {
                text-align: center;
            }
        </style>
        <link id="home_img" rel="shortcut icon" type="image/png" href="https://sebastianw.tech/static/SaraElly/MW-Logo.png">
    </head>
    <body>
        <header class="title-bar">
            <nav id="f-toc">
                <a href="/" id="name_container">
                    <img id="site_logo" src="https://sebastianw.tech/static/SaraElly/MW-Logo.png" width="48px" height="48px" alt="website logo">
                    <h1 id="site_name">Mostafa - Wu Feng Ticket</h1>
                </a>
                <div id="links_container">
                    <a href="/why-us">Why Us</a>
                    -
                    <a href="/about-us/">The Team</a>
                    -
                    <a href="/our-mission/">Our Mission</a>
                    -
                    <a href="/events/">Events</a>
                    -
                    <a href="/transparency/">Transparency</a>
                    -
                    <a href="/contact/">Contact The Team</a>
                </div>
            </nav>
        </header>
        <p class="title" style="text-align:center">Our Team</p>
        <div class="row" style="text-align:center">
            <div class="copres-column">
                <div class="abt-card">
                    <img src="https://sebastianw.tech/static/SaraElly/sara.jpg" style="width:50%" alt="Sara">
                    <div class="container">
                        <p class="subtitle">Sara Mostafa</p>
                        <p class="position">Co-President</p>
                        <p>HI GUYSSS! I’m Sara and I am so excited to be running for caucus with my amazing team and co-president Elly! A lot of you may know me from Stuy Social, where I’m currently the director of marketing! I’m also on the Stuy PF debate team (I love yapping), and I just finished an internship with Senator Iwen Chu! In middle school, I was on the debate team, SLT, and founded the Kindness Association! I’m guessing you can see I love interacting and talking to people, which is one of the reasons I wanted to run for caucus. Outside of school, I like to explore different places of NYC and film videos! By being your Freshmen caucus presidents, Elly and I will place utmost priority on hearing and representing everyone in the student body. With our FRESH ideas, we plan to create an empowering and welcoming environment for each and every single one of you! </p>
                    </div>
                </div>
            </div>
            <div class="copres-column">
                <div class="abt-card">
                    <img src="https://sebastianw.tech/static/SaraElly/elly.jpg" style="width:50%" alt="Elly">
                    <div class="container">
                        <p class="subtitle">Elly Wu Feng</p>
                        <p class="position">Co-President</p>
                        <p>Hey Class of 28’! I’m Elly and I’m thrilled to be running for Fresh Caucus with the one and only Sara! I’m currently a member of the SU’s externals department. In middle school, I served as Student Government President, announcement speaker, and led our social-emotional leadership team. I’m passionate about creating a supportive & engaging environment for our community. Together, Sara and I will work hard to amplify your voices, bring FRESH ideas to the table, and make our freshman year unforgettable! In my free time, you can find me doing crochet, reading, listening to music, gaining lipids (I love eating) or crying over AP bio. (Shoutout to our amazing managers, you guys are the best!)</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="text-align:center">
            <div class="manager-column">
                <div class="abt-card">
                    <img src="https://sebastianw.tech/static/SaraElly/lin.png" style="width:50%" alt="Lin">
                    <div class="container">
                        <p class="subtitle">Lin Chen</p>
                        <p class="position">Editor in Chief</p>
                        <p>Hi!! I’m Lin and I’m from Brooklyn. I’m so excited to be repping as editor for Sara and Elly as Freshman Caucus this year! In my middle school, I held significant leadership roles in student government and earned scholarships to national programs, like the National Flight Academy. In my free time, I like eating, taking power naps, and listening to RnB. I also play the piano and electric guitar. At Stuy, I am in Red Cross, StuySocial, and I am hoping to make the cut for Girl’s Basketball. I love connecting with new people and getting to know you all better, so shoot me a dm whenever! Vote Sara and Elly for Freshman Caucus!!!</p>
                    </div>
                </div>
            </div>
            <div class="manager-column">
                <div class="abt-card">
                    <img src="https://sebastianw.tech/static/SaraElly/brianna.jpg" style="width:50%" alt="Brianna">
                    <div class="container">
                        <p class="subtitle">Brianna Huang</p>
                        <p class="position">Graphic Designer</p>
                        <p>Hi! I’m Brianna and I am sooo excited to be one of the Campaign managers!! I am from Queens but I was born in the Bronx. (I’m tuff like that) In my free time I like to bake, skateboard, and sleepp.  I’m also on the PF debate and Swim team (GO PENGUINS). In middle school I led the debate and the track team and I was in student government. I’m always suffering from extreme sleep deprivation but I manage to pull through 💪💪 I have an extremely poor ability to spell words. I love love love stuffing myself (especially after practice) and I can’t wait to get to know you all better!</p>
                    </div>
                </div>
            </div>
            <div class="manager-column">
                <div class="abt-card">
                    <img src="https://sebastianw.tech/static/SaraElly/kirill.jpg" style="width:50%" alt="Kirill">
                    <div class="container">
                        <p class="subtitle">Kirill Vedler</p>
                        <p class="position">Outreach Director</p>
                        <p>Hello! I’m Kirill, and I am very excited to be one of the campaign managers for Elly and Sara! One thing you should know about me is that im really into taking care of myself both physically and emotionally and that I enjoy helping others no matter what. I also enjoy going to the gym and cooking for my family and close friends. Im also hoping to join the varsity volleyball team this spring (GO BEASTS !!). Vote for Sara and Elly on 11/19 for Freshman Caucus!!!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="text-align:center">
            <div class="align-last-row"></div>
            <div class="manager-column">
                <div class="abt-card">
                    <img src="https://sebastianw.tech/static/SaraElly/sebastian.jpg" style="width:50%" alt="Sebastian">
                    <div class="container">
                        <p class="subtitle">Sebastian Waldman</p>
                        <p class="position">Tech and I.T.</p>
                        <p>Hiii! I’m Sebastian. I was born in Beijing, spent the first few years of my life in New Jersey, and currently live in Manhattan. I am very excited to be a Campaign Manager for Sara and Elly! In my free time, I like coding different things and playing wayyy too many video games 😅. I also like playing Badminton with my friends over the weekend, and barely got cut during team tryouts 🙁. I have two cats who I love and who like annoying me. Remember to vote for Sara and Elly on November 19th!!!</p>
                    </div>
                </div>
            </div>
            <div class="manager-column">
                <div class="abt-card">
                    <img src="https://sebastianw.tech/static/SaraElly/trevor.jpg" style="width:50%" alt="Trevor">
                    <div class="container">
                        <p class="subtitle">Trevor Lee</p>
                        <p class="position">Finance Manager</p>
                        <p>Hello!! I’m Trevor, and I’m very excited to be one of the Campaign Managers for Sara and Elly! I like tackling complicated problems and playing tennis in my free time, and I’m also a massive procrastinator at the cost of my sleep /: . Anyways, I really like meeting new people and spending time with my friends. In middle school I won multiple competitions for my school’s math team, and I’m currently in the Stuyvesant Math Team. I’m hoping to win plenty more competitions there as well as becoming a core member of Stuypulse in my time at Stuy. I’m hoping that we’ll all have a good year, Sara and Elly🔛🔝!</p>
                    </div>
                </div>
            </div>
            <div class="align-last-row"></div>
        </div>
    </body>
</html>
