<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Contact Us</title>
        <link rel="stylesheet" href="https://sebastianw.tech/static/SaraElly/mw-styles.css">
        <link id="home_img" rel="shortcut icon" type="image/png" href="https://sebastianw.tech/static/SaraElly/MW-Logo.png">
    </head>
    <body>
        <header class="title-bar">
            <nav id="f-toc">
                <a href="/" id="name_container">
                    <img id="site_logo" src="https://sebastianw.tech/static/SaraElly/MW-Logo.png" width="48px" height="48px" alt="website logo">
                    <h1 id="site_name">Mostafa - Wu Feng Ticket</h1>
                </a>
                <div id="links_container">
                    <a href="/why-us">Why Us</a>
                    -
                    <a href="/about-us/">The Team</a>
                    -
                    <a href="/our-mission/">Our Mission</a>
                    -
                    <a href="/events/">Events</a>
                    -
                    <a href="/transparency/">Transparency</a>
                    -
                    <a href="/contact/">Contact The Team</a>
                </div>
            </nav>
        </header>
        <div style="text-align: center;">
            <p class="title" style="text-align:center">Contact the Team</p>
            <p class="toc-title">Please do not hesitate to reach out to us with ANY questions, concerns, or suggestions! We love hearing from our voters. YOUR voice is OUR voice.</p>
            <p>If you would like to let us know about your ideas, suggestions, and feedback, use <strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSeIX8xOs4WtTQBa6LROVwYT80-Ky5w8uP_FvpNBY5MXDh8MgQ/viewform">this Google Form</a></strong> to let us know.</p>
            <p>If you need direct contact with any of us, please use the contact information listed below.</p>
        </div>
        <div class="contacts">
            <p class="subtitle">Co-Presidents</p>
            <ul class="pres-contacts">
                <li>Sara Mostafa
                    <ul>
                        <li>Email - <a href="mailto:mmostafa@stuy.edu"><code>mmostafa@stuy.edu</code></a></li>
                        <li>Insta - <a href="https://www.instagram.com/ssarsarr_">ssarsarr_</a></li>
                    </ul>
                </li>
                <li>Elly Wu Feng
                    <ul>
                        <li>Email - <a href="mailto:ewufeng80@stuy.edu"><code>ewufeng80@stuy.edu</code></a></li>
                        <li>Insta - <a href="https://www.instagram.com/ewlly1112">ewlly1112</a></li>
                    </ul>
                </li>
            </ul>
            <p class="subtitle">Campaign Managers</p>
            <ul class="managers-contacts">
                <li>Lin Chen - Editor in Chief
                    <ul>
                        <li>Email - <a href="mailto:lchen80@stuy.edu"><code>lchen80@stuy.edu</code></a></li>
                        <li>Insta - <a href="https://www.instagram.com/lin.c.11">lin.c.11</a></li>
                    </ul>
                </li>
                <li>Brianna Huang - Graphic Designer
                    <ul>
                        <li>Email - <a href="mailto:bhuang80@stuy.edu"><code>bhuang80@stuy.edu</code></a></li>
                        <li>Insta - <a href="https://www.instagram.com/briannah2156">briannah2156</a></li>
                    </ul>
                </li>
                <li>Kirill Vedler - Outreach Director
                    <ul>
                        <li>Email - <a href="mailto:kvedler80@stuy.edu"><code>kvedler80@stuy.edu</code></a></li>
                        <li>Insta - <a href="https://www.instagram.com/8nline_">8nline_</a></li>
                    </ul>
                </li>
                <li>Sebastian Waldman - Tech and I.T.
                    <ul>
                        <li>Email - <a href="mailto:swaldman80@stuy.edu"><code>swaldman80@stuy.edu</code></a></li>
                        <li>Insta - <a href="https://www.instagram.com/dfn_slxxp">dfn_slxxp</a></li>
                    </ul>
                </li>
                <li>Trevor Lee - Finance Manager
                    <ul>
                        <li>Email - <a href="mailto:tlee80@stuy.edu"><code>tlee80@stuy.edu</code></a></li>
                        <li>Insta - <a href="https://www.instagram.com/duckrill">duckrill</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </body>
</html>