<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Events</title>
        <link rel="stylesheet" href="https://sebastianw.tech/static/SaraElly/mw-styles.css">
        <style>
            * {
                text-align: center;
            }
        </style>
        <link id="home_img" rel="shortcut icon" type="image/png" href="https://sebastianw.tech/static/SaraElly/MW-Logo.png">
    </head>
    <body>
        <header class="title-bar">
            <nav id="f-toc">
                <a href="/" id="name_container">
                    <img id="site_logo" src="https://sebastianw.tech/static/SaraElly/MW-Logo.png" width="48px" height="48px" alt="website logo">
                    <h1 id="site_name">Mostafa - Wu Feng Ticket</h1>
                </a>
                <div id="links_container">
                    <a href="/why-us">Why Us</a>
                    -
                    <a href="/about-us/">The Team</a>
                    -
                    <a href="/our-mission/">Our Mission</a>
                    -
                    <a href="/events/">Events</a>
                    -
                    <a href="/transparency/">Transparency</a>
                    -
                    <a href="/contact/">Contact The Team</a>
                </div>
            </nav>
        </header>
        <p class="title" style="text-align:center">Fundraisng Events</p>
        <br>
        <div class="row" style="text-align:center">
            <div class="two">
                <div class="event-card">
                    <div class="container">
                        <p class="subtitle">Soak a Freshmen</p>
                        <p>In the warmer seasons, the Mostafa-Wu-Feng ticket will hold a Soak A Freshman Day. Students will be allowed to throw cups of water at other freshmen students who volunteer. Cups of water will range from $1-2 and the profits will be used to go to our other events like the Freshmen dance.</p>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="event-card">
                    <div class="container">
                        <p class="subtitle">Winter Hot Chocolate Stand</p>
                        <p>The Mostafa-Wu Feng ticket plans to have a hot chocolate stand in the winter. Students can line up to buy cups of hot chocolate at $2-3. Students will be allowed to add toppings such as chocolate sauce and marshmallows to their hot chocolate. We hope this event allows freshmen to tune into the holiday seasons and raise money for other events!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align:center">
            <div class="two">
                <div class="event-card">
                    <div class="container">
                        <p class="subtitle">Game Pigeon Tournaments</p>
                        <p>Students can participate in a school wide game pigeon tournament where they can win prizes. We plan to hold different divisions for different games (8 ball, archery, basketball,etc). To participate, the students will need to pay $1 per entry into a division. The top 3 winners of each division are eligible to win prizes such as plushies, a free meal, or a trinket.</p>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="event-card">
                    <div class="container">
                        <p class="subtitle">Karaoke night</p>
                        <p>Freshman can all come and chill with music on karaoke night! Students will be allowed to pick songs for the price of $1, but everyone is permitted to sing any song that is being played. The Mostafa-Wu Feng ticket plans to collaborate with one of the music clubs at Stuy to orchestrate this event. We hope that it will allow people to make friends and find people with the same music taste!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align:center">
            <div class="two">
                <div class="event-card">
                    <div class="container">
                        <p class="subtitle">Board Game Night</p>
                        <p>Students can participate in a school wide board game tournament with games such as Monopoly, Bingo, Candy Life, Scrabble, Chess, and more. Students can enter each division for the price of $1.50, and the winner will be eligible to win different prizes like snacks, trinkets, gift cards, etc.</p>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="event-card">
                    <div class="container">
                        <p class="subtitle">Bake Sales</p>
                        <p>The Mostafa- Wu feng ticket plans to hold bake sales every other month to raise money for freshmen prom and other events. In these backsales, we will sell treats such as cookies, cake, cupcakes, candy, chips, and more! Students will be able to buy snacks after school. To get a more accurate representation of what students would like to buy, we plan to send out a google form that asks what treats they would like to buy! We will allocate a budget to different treats based on that form.</p>
                    </div>
                </div>
            </div>
        </div>


        <p class="title" style="text-align:center">Other Events</p>
        <br>
        <div class="row" style="text-align:center">
            <div class="two">
                <div class="event-card">
                    <div class="container">
                        <p class="subtitle">Trivia Night</p>
                        <p>Students can join in on Jeopardy or Kahoot games covering a variety of fun topics, from pop culture and history to academics and Stuyvesant trivia—all for free! Participants can play as many rounds as they like, and winners will be eligible for exciting prizes like tickets to sports games or Broadway shows. This event is a fun way to connect with classmates and support our community, with any donations going directly to future student events.</p>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="event-card">
                    <div class="container">
                        <p class="subtitle">Homeroom Time-Capsule Letters</p>
                        <p>Wouldn’t it be amazing to read a letter from your freshman self when you’re a senior? The Mostafa-Wu Feng ticket plans to organize a grade-wide time capsule letter-writing event during a homeroom period. You’ll write a letter to your future self, which will then be collected by your homeroom teacher/Big Sibs and stored in a cardboard box for the next four years. Then, one day when you’re an older and wiser senior, you’ll get to read your letter and laugh at how much you’ve grown since freshman year!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="text-align:center">
            <div class="two">
                <div class="event-card">
                    <div class="container">
                        <p class="subtitle">Monthly Contests</p>
                        <p>As Freshman Caucus presidents, we plan to release monthly newsletters (more details here). Included in the newsletter will be announcements of that month's contest. Entry will be through a Google form and voting will be open to all freshmen to choose that month’s winners. Some ideas for the contests include: Outfit of the Month, poetry writing, art submissions and more. These monthly contests will give students a chance to showcase their creativity and have fun, while building connections and showcasing school spirit across our grade.</p>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="event-card">
                    <div class="container">
                        <p class="subtitle">Movie Night</p>
                        <p>At these movie nights, freshmen will be able to connect with each other while watching different movies and eating some popcorn and candy! We plan to send out Google Forms to freshmen a week before any movie night happens, allowing them to choose what movie we will watch. These movie nights will happen about a month or so apart. This is the perfect opportunity to hang out with your friends and possibly make some new ones! We are also aware that movie nights are common events at Stuy, so we plan to collaborate with the Sophomore Caucus to carry out these “SophFrosh” movie nights.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="text-align:center">
            <div class="two">
                <div class="event-card">
                    <div class="container">
                        <p class="subtitle">Freshman Board</p>
                        <p>In addition, we’ll introduce a Freshman Board, a physical board in the school where important announcements, event details, and highlights from our class will be displayed. The Freshman Board will be a space where freshmen can check in regularly for updates, see shout-outs, and celebrate our class’s achievements together. We will decorate the board according to that month’s theme. During special occasions like Valentine’s Day, we will allow freshmen to write anonymous messages and post it on the board!</p>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="event-card">
                    <div class="container">
                        <p class="subtitle">Spring Bouquet Making Contest</p>
                        <p>Celebrate the season with a creative Spring bouquet making contest! Students will have the chance to design and arrange their own beautiful bouquets using flowers and greenery. Participants can showcase their creativity, with winners chosen by a panel of judges based on originality, design, and presentation. Prizes will be awarded to the top arrangements. Students can also write optimistic messages in light of the new season. This will be a great and colorful event that brings the Spring spirit to our community.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="text-align:center">
            <div class="event-center"></div>
            <div class="two">
                <div class="event-card">
                    <div class="container">
                        <p class="subtitle">Freshman Semi-Formal Dance</p>
                        <p>From our conversations with many sophomores, we’ve learned that last year’s freshman dance didn’t meet expectations; they felt it was unorganized and lacked excitement. To improve it for this year’s freshmen, we’re planning the event with careful attention to logistics and details, based on feedback and ideas from the freshman class itself. By allowing students to choose the playlist and theme, and by securing amenities like a photo booth, dance floor, and snacks, we aim to create a lively and well-organized experience that truly reflects what the class wants. Our goal is to make this year’s dance a highlight of freshman year!</p>
                    </div>
                </div>
            </div>
            <div class="event-center"></div>
        </div>
    </body>
</html>