<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Home 🏠</title>
        <link rel="stylesheet" href="https://sebastianw.tech/static/SaraElly/mw-styles.css">
        <style>
            * {
                text-align: center;
            }
        </style>
        <link id="home_img" rel="shortcut icon" type="image/png" href="https://sebastianw.tech/static/SaraElly/MW-Logo.png">
    </head>
    <header>
        <div class="heading">
            <p class="title">Sara Mostafa - Elly Wu Feng</p>
            <p class="subtitle">Freshman Caucus 2024</p>
            <img class="cover-img" src="https://sebastianw.tech/static/SaraElly/se.jpg">
            <p class="mottos">Making FRESHman year bright, vote for what’s right!</p>
        </div>
        <div class="toc">
            <p class="toc-title">Table of Contents</p>
            <div>
                <p><a href="/why-us/">Why Us</a></p>
                <p><a href="/about-us/">About The Team</a></p>
                <p><a href="/our-mission/">About Our Mission</a></p>
                <p><a href="/events/">About Our Events</a></p>
                <p><a href="/transparency/">About Our Transparency</a></p>
                <p><a href="/contact/">Contact The Team</a></p>
            </div>
        </div>
    </header>
    
</html>