<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Transparency</title>
        <link rel="stylesheet" href="https://sebastianw.tech/static/SaraElly/mw-styles.css">
        <style>
            * {
                text-align: center;
            }
        </style>
        <link id="home_img" rel="shortcut icon" type="image/png" href="https://sebastianw.tech/static/SaraElly/MW-Logo.png">
    </head>
    <body>
        <header class="title-bar">
            <nav id="f-toc">
                <a href="/" id="name_container">
                    <img id="site_logo" src="https://sebastianw.tech/static/SaraElly/MW-Logo.png" width="48px" height="48px" alt="website logo">
                    <h1 id="site_name">Mostafa - Wu Feng Ticket</h1>
                </a>
                <div id="links_container">
                    <a href="/why-us">Why Us</a>
                    -
                    <a href="/about-us/">The Team</a>
                    -
                    <a href="/our-mission/">Our Mission</a>
                    -
                    <a href="/events/">Events</a>
                    -
                    <a href="/transparency/">Transparency</a>
                    -
                    <a href="/contact/">Contact The Team</a>
                </div>
            </nav>
        </header>
        <p class="title" style="text-align:center">Transparency about:</p>
        <div class="transparency-sec">
            <p class="subtitle">Policies and Events</p>
            <p>The Mostafa-Wu Feng ticket acknowledges the capabilities of the freshmen caucus. We are aware that getting funding for many of the ideas we want to bring to life will not be easy, but we are ready to put in our best efforts. We will have conversations with staff and faculty regularly, and will keep good communication with the custodians and Alumni Association. Specific policies like the half floor bean bags and bathroom hooks may be difficult to implement, but we are planning on speaking to Battery Park Alliance, Mr. Moran, and the custodians in depth soon! We will keep you all updated via our website and social media!</p>
        </div>

        <div class="transparency-sec">
            <p class="subtitle">Meetings</p>
            <p>Once elected, all meetings held by the Freshman Caucus will be open to all members of the freshmen students body. Students are allowed and encouraged to drop into these meetings and participate. They can give us feedback, provide support, and introduce their own ideas. We also hope that by keeping these meetings open, freshmen see the dedication and effort the Mostafa-Wu Feng ticket puts to make to support all of you! As well as seeing our processes of making our ideas come to life.</p>
        </div>
    </body>
</html>