<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Transparency</title>
        <link rel="stylesheet" href="https://sebastianw.tech/static/SaraElly/mw-styles.css">
        <style>
            * {
                text-align: center;
            }
        </style>
        <link id="home_img" rel="shortcut icon" type="image/png" href="https://sebastianw.tech/static/SaraElly/MW-Logo.png">
    </head>
    <body>
        <header class="title-bar">
            <nav id="f-toc">
                <a href="/" id="name_container">
                    <img id="site_logo" src="https://sebastianw.tech/static/SaraElly/MW-Logo.png" width="48px" height="48px" alt="website logo">
                    <h1 id="site_name">Mostafa - Wu Feng Ticket</h1>
                </a>
                <div id="links_container">
                    <a href="/why-us">Why Us</a>
                    -
                    <a href="/about-us/">The Team</a>
                    -
                    <a href="/our-mission/">Our Mission</a>
                    -
                    <a href="/events/">Events</a>
                    -
                    <a href="/transparency/">Transparency</a>
                    -
                    <a href="/contact/">Contact The Team</a>
                </div>
            </nav>
        </header>
        <p class="title" style="text-align:center">Why Vote for Us?</p>
        <div class="why-page">
            <p>As fellow freshmen, we truly understand the challenges and excitement that come with starting at Stuy. We're facing the same hurdles, navigating the same halls, and sharing the same experiences as you. That’s why we're committed to representing you in ways that truly matter — by advocating for the resources you need, organizing events you’ll enjoy, and making sure every freshman voice is heard. We’re here not just to lead but to stand alongside you and make our freshman year the best it can be. Together, let’s bridge the gap and build a united, supportive freshman class.</p>
            <p class="subtitle">Why we care</p>
            <p>We care because we’re in this together. Starting at Stuy isn’t just about adjusting to a new school; it’s about building a community that feels like home. We believe that every freshman should feel seen, heard, and supported from day one. We care about bridging the gap between you and the opportunities that will make your high school journey fulfilling and successful. By listening to you, advocating for you, and creating spaces where every voice matters, we’re dedicated to making our freshman year an experience we can all look back on with pride.</p>
            <p class="subtitle">Why we are running</p>
            <p>We are not running just to fill a position or for the title of it. We are running because we truly care about the work we do and the differences we can make together to better the freshman community. We want to create real connections, implement realistic and feasible initiatives, and make sure every freshman feels valued and included. We understand the importance of balancing and having both a healthy academic and social life. We know the stress and anxiety we can all get from school, but who wants to suffer from focusing too much on numerical grades all four years of high school? And that’s why we are here, to be a part of solutions and work towards creating a community of people who actually enjoy high school, all while balancing grades and personal life.</p>
            <p class="subtitle">Why should you vote?</p>
            <p>In past elections, only about half of the freshman class has cast their vote. Voting is your chance to shape the future of our class, ensuring that our leaders truly represent what we want and need. By participating in the election, you’re helping select candidates who will advocate for you, plan events you’ll enjoy, and address issues that matter to our grade. Make your voice heard, and let’s work together to make our freshman year unforgettable! And even better, this is a ranked choice voting! Read more about RCV here and why each choice of yours matters.</p>
        </div>
    </body>
</html>